<div class="container">
  <main role="main" class="pb-3">
    <h3>Dash board</h3>
    <p>
      <a role="button" class="btn btn-outline-primary" routerLink="query/create"
        ><i class="bi bi-plus-square me-2"></i>Create New Query</a
      >
    </p>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col"><strong>Id</strong></th>
          <th scope="col"><strong>Query Type</strong></th>
          <th scope="col"><strong>Query Status</strong></th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="{{ getStatusclass(item.status) }}"
          *ngFor="let item of getData()"
        >
          <th scope="row">{{ item.id }}</th>
          <td>{{ getQueryName(item.query) }}</td>
          <td>{{ getStatusName(item.status) }}</td>
        </tr>
      </tbody>
    </table>
    <app-pagination
      [pagination]="pagination"
      (pageChanged)="onPagerChanged($event)"
    ></app-pagination>
  </main>
</div>
