// nav {
//     display: flex;
//     gap: 20px;
//     background-color: black;
//     padding: 10px;
//     color: white;
//     margin-bottom: 2px;
//     justify-content: center;

//     .nav-item {
//         list-style-type: none;
//         text-align: center;
//         font-size: 14px;
//         line-height: 20px;
//         font-weight: 600;
//         // background-color: rgb(59, 59, 59);
//         border: 1px solid white;
//         padding: 10px;
//         transition: all 0.2s ease;
//         letter-spacing: 1px;
//         cursor: pointer;
//         user-select: none;
//     }

//     .nav-item:hover {
//         background-color: white;
//         // border: 1px solid rgb(59, 59, 59);
//         color: black;
//     }

//     .active {
//         background-color: white;
//         color: black;
//         border: 1px solid rgb(59, 59, 59);
//     }
// }